<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Ứng Dụng Quản Lý Sách</title>
  <th:block th:replace="Layout :: link-css" ></th:block>
</head>
<body>
<th:block th:replace="Layout :: header"></th:block>
<div class="container">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <h2 style="text-align: center">
        Trang Chủ Ứng Dụng Quản Lý Sách - Kết Nối CSDL Với MySQL
      </h2>
    </div>
  </nav>
</div>
<th:block th:replace="Layout :: footer"></th:block>
</body>
</html>